/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   font-family: "Montserrat", sans-serif;
}

:root{
  --primary-color: #4CAF50;
  --secondary-color: #f1f1f1;
  --text-color: #333;
  --font-family: 'Arial', sans-serif;
}

.wrapper{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
  }


#top-header{
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.siteName a{
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#tools a{
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--text-color);
  text-decoration: none;
}

nav{
  background-color: var(--text-color);
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem 0;
}

nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0.5rem 0;
}

nav ul li{
  display: block;
  list-style: none;
  margin: 0 1rem;
}

.hero{
  background-image: url('/images/vehicles/delorean.jpg');
  background-size: 400px 250px;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero>div{
  background-color: rgba(0,0,0,0.5);
  color: var(--secondary-color);
  padding: 1rem;
  text-align: left;
  position: absolute;
  top: 7rem;
  left: 1.5rem;
}

.hero>div h2{
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  margin-bottom: 0.5rem;
}

.hero>div p{
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.2rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero>div button{
  background-color: black;
  color: var(--secondary-color);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

h1{
  margin: 2rem 0 0 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text-color);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.featured_upgrades{
  display: flex;
  flex-direction: column-reverse;
}

.featured{
 display: flex;
 flex-direction: column;
 margin: 1rem 0 1rem 1.5rem;
}

.featured h2{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.featured li{
  list-style: none;
  margin: 0.5rem 0;
}

.upgrades{
  margin: 2rem 0 1rem 0;
}

.upgrades h2{
  margin-left: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.upgrades>div{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
  place-items: center;
}

.upgrades>div>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upgrades>div figure{
  background-color: var(--secondary-color); 
  width: 100%;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upgrades>div a {
  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 0.8rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

@media screen and (min-width: 768px) {

  .wrapper{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1{
    margin: 2rem 0 0 1.5rem;
  }

  .hero{
    background-image: url('/images/vehicles/delorean.jpg');
    background-position: center;
    background-size: auto 400px;
    height: 500px;
  }

  .hero>div{
    top: 5rem;
    left: 1.5rem;
  }

  .featured_upgrades{  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
    place-items: start;
    margin-bottom: 1rem;
  }

  .upgrades{
    margin: 1rem 0 1rem 0;
  }

  .upgrades>div{
    width: 600px;
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
  }

  .featured li{
    list-style: disc;
    padding: 0.5rem 0;
  }


  .upgrades>div figure{
  background-color: var(--secondary-color); 
  width: 250px;
  height: 100px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
}