<h2>Customer Reviews</h2>
<ul>
  <% reviews.forEach(review => { %>
    <li>
      <strong><%= review.first_name %></strong> rated it <%= review.rating %>/5<br>
      "<%= review.content %>"<br>
      <em><%= new Date(review.review_date).toLocaleString() %></em>
    </li>
    <hr>
  <% }); %>
</ul>
